[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GEOfastq"]
	path = GEOfastq
	url = https://github.com/alexvpickering/geofastq
[submodule "ccmap"]
	path = ccmap
	url = https://git.bioconductor.org/packages/ccmap
[submodule "crossmeta"]
	path = crossmeta
	url = https://github.com/alexvpickering/crossmeta
[submodule "shinydlplot"]
	path = shinydlplot
	url = https://github.com/alexvpickering/shinydlplot
[submodule "shinypanel"]
	path = shinypanel
	url = https://github.com/alexvpickering/shinypanel
